html {
  //scroll-behavior: smooth;
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  //background-color: #000000;
}

.admin-bar nav.fixed-top {
  margin-top: 32px;
}

ul, ol {
  padding-left: 0;
  list-style-type: none;
}

.page-template-default.page article {
  ul, ol {
    padding-left: 20px;
    list-style-type: unset;
  }
  p + ul {
    margin-top: -1rem;
  }
}

ul li, ol li {
  margin-bottom: 10px;
}

button:focus, .btn-primary:focus {
  outline: 0;
  box-shadow: none
}

a, a:hover {
  color: unset;
  text-decoration: none;
}

b, strong {
  font-weight: bold;
}

html, body {
  touch-action: manipulation;

}