.element-float-left--wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
}

.element-strap-placement {
  position: absolute;
  z-index: 2;
}

.element-float-left {
  right: 100%;
  transition: right 2.5s cubic-bezier(0.3, 0.02, 0.04, 0.99) .5s;
}

.element-float-in {
  right: 0%;
}

.element-strap-placement {
  width: auto;
  height: 150px;
  bottom: 16%;
  @include media-breakpoint-up(i6) {
    height: 180px;
  }
  @include media-breakpoint-up(md) {
    height: 30%;
  }
  @include media-breakpoint-up(lg) {
    bottom: 30%;
    height: 40%;
  }
}

.animate {
  transition: opacity 3s cubic-bezier(0.075, 0.82, 0.165, 1);

  &--delayed {
    transition: opacity 3s cubic-bezier(0.075, 0.82, 0.165, 1) .8s;
  }
  &-text {
    transition: transform 3s cubic-bezier(0.075, 0.82, 0.165, 1) .5s, opacity 1s ease-in .3s;
    @extend .fade-out, .move-down;

    &--delayed {
      transition: transform 3s cubic-bezier(0.075, 0.82, 0.165, 1) .5s, opacity 1s ease-in .4s;
      @include media-breakpoint-up(sm) {
        transition: transform 3s cubic-bezier(0.075, 0.82, 0.165, 1) .5s, opacity 1s ease-in .4s;
      }
      @extend .fade-out, .move-down;
    }

    &--in {
      @extend .fade-in, .move-up;
    }
  }
}

.section-five__triangle {
    &.animate--mobile {
      opacity: 0;
      transition: opacity .5s ease-in;
  }
}

.fade-out {
  opacity: 0;
}

.fade-in {
  opacity: 1 !important;
}

.move-down {
  position: relative;
  transform: translateY(50px);
}

.move-up {
  position: relative;
  transform: translateY(0px);
}