.theme-gold {
  .section-one {
    &__bg-parallax {
      background-image: url(#{$dist-path}img/bg/bg-home-section-one-gold.jpg);
    }
    &__crown-top:after {
      background-image: url(#{$dist-path}img/bg/bg-home-section-one-gold-BLUR.jpg);
    }

    @include media-breakpoint-down(md) {
      &__bg-parallax {
        background-size: 200% auto;
        background-position: center bottom;
      }
      &__crown-top:after {
        box-shadow: inset 0 0 0 3000px rgba(255, 255, 255, 0.3);
        background-image: none;
      }
    }
  }

  .section-two {
    background-image: url(#{$dist-path}img/bg/bg-circle-gold-rotated-side.jpg);
    @include media-breakpoint-up(md) {
      background-image: url(#{$dist-path}img/bg/bg-circle-gold.jpg);
    }
  }
  .section-four {
    background-image: url(#{$dist-path}img/bg/bg-circle-gold-rotated.jpg);
  }
  .section-five__triangle:after {
    box-shadow: inset 0 0 0 3000px rgba(222, 180, 95, 0.3);
  }
}


.theme-red {
  .section-one {
    &__bg-parallax {
      background-image: url(#{$dist-path}img/bg/bg-home-section-one-red.jpg);
    }
    &__crown-top:after {
      background-image: url(#{$dist-path}img/bg/bg-home-section-one-red-BLUR-mobile.jpg);
    }
    @include media-breakpoint-up(sm) {
      &__crown-top:after {
        background-image: url(#{$dist-path}img/bg/bg-home-section-one-red-BLUR.jpg);
      }
    }
  }
  .section-two {
    background-image: url(#{$dist-path}img/bg/bg-circle-red-rotated-side.jpg);
    @include media-breakpoint-up(md) {
      background-image: url(#{$dist-path}img/bg/bg-circle-red.jpg);
    }
  }
  .section-four {
    background-image: url(#{$dist-path}img/bg/bg-circle-red-rotated.jpg);
  }
  .section-five__triangle:after {
    box-shadow: inset 0 0 0 3000px rgba(224, 83, 39, 0.2);
  }
}

.theme-green {
  .section-one {
    &__bg-parallax {
      background-image: url(#{$dist-path}img/bg/bg-home-section-one-green-mobile.jpg);
    }
    &__crown-top:after {
      background-image: url(#{$dist-path}img/bg/bg-home-section-one-green-BLUR-mobile.jpg);
    }
    @include media-breakpoint-up(sm) {
      &__bg-parallax {
        background-image: url(#{$dist-path}img/bg/bg-home-section-one-green.jpg);
      }
      &__crown-top:after {
        background-image: url(#{$dist-path}img/bg/bg-home-section-one-green-BLUR.jpg);
      }
    }
  }
  .section-two {
    background-image: url(#{$dist-path}img/bg/bg-circle-green-rotated-side.jpg);
    @include media-breakpoint-up(md) {
      background-image: url(#{$dist-path}img/bg/bg-circle-green.jpg);
    }
  }
  .section-four {
    background-image: url(#{$dist-path}img/bg/bg-circle-green-rotated.jpg);

  }
  .section-five__triangle:after {
    box-shadow: inset 0 0 0 3000px rgba(120, 178, 45, 0.2);
  }
}

.theme-grey {
  .section-one {
    &__bg-parallax {
      background-image: url(#{$dist-path}img/bg/bg-home-section-one-grey.jpg);
    }
    &__crown-top:after {
      background-image: url(#{$dist-path}img/bg/bg-home-section-one-grey-BLUR-mobile.jpg);
    }
    @include media-breakpoint-up(sm) {
      &__crown-top:after {
        background-image: url(#{$dist-path}img/bg/bg-home-section-one-grey-BLUR.jpg);
      }
    }
  }

  .section-two {
    background-image: url(#{$dist-path}img/bg/bg-circle-grey-rotated-side.jpg);
    @include media-breakpoint-up(md) {
      background-image: url(#{$dist-path}img/bg/bg-circle-grey.jpg);
    }
  }
  .section-four {
    background-image: url(#{$dist-path}img/bg/bg-circle-grey-rotated.jpg);
  }
  .section-five__triangle:after {
    box-shadow: inset 0 0 0 3000px rgba(223, 238, 255, 0.3);
  }
}