.qmark-start {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: auto;
  transform: translate(-100%, -50%);
  @include media-breakpoint-up(sm) {
    position: relative;
    //transform: translate(50%, -50%);
  }
  @include media-breakpoint-up(lg) {
    width: initial;
  }
}

.qmark-end {
  bottom: 0;
  right: 0;
  width: 40px;
  height: auto;
  //transform: translate(-50%, 40%);
  position: absolute;
  //@include media-breakpoint-between(sm, xl) {
  //  position: absolute;
  //}
  transform: translate(100%, 50%);
  @include media-breakpoint-up(md) {
    transform: translate(-50%, 50%);
  }
  @include media-breakpoint-up(lg) {
    width: initial;
  }
}

.img-circle {
  border-radius: 1000px;
}

.bg-circle {
  position: relative;
  display: inline-flex;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: center;
  &:before {
    z-index: 0;
    border-radius: 1000px;
    position: absolute;
    content: '';
    display: block;
    height: 100%;
    width: 300%;
    background-color: white;
  }
}

.place {
  &-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    &--bottom {
      top: unset;
      transform: translate(-50%, 0);
      bottom: 0;
    }
    &--top {
      top: unset;
    }
  }
}

.overflow-hidden {
  overflow: hidden;
}

.w-100-between-md-lg {
  @include media-breakpoint-between(sm, lg) {
    max-width: 100% !important;
  }
}

@include media-breakpoint-down(sm) {

  .no-gutters-md-down {
    margin-right: 0;
    margin-left: 0;

    > .col,
    > [class*="col-"] {
      padding-right: 0;
      padding-left: 0;
    }
  }
}

.text-hyphens {
  @include media-breakpoint-up(sm) {
    hyphens: auto;
  }
}

.filter-blur {
  filter: blur(20px);
}

.inherit-height {
  height: inherit;
}

.hr-bottom {
  border-bottom: 1px white solid;
}

#modalSizeInfo {
  position: fixed;
  z-index: 999;
  margin-right: 0;
  left: 50%;
  top: 50%;
  max-height: 92vh;
  overflow-y: auto;
  transform: translate(-50%, -50%);
  width: 500px;
  max-width: 90%;
  text-align: left;
}