.arrow {
  width: 0;
  height: 0;
  display: inline-block;

  &-up {
    border-bottom: 10px solid #ffffff;
  }

  &-down {
    border-top: 10px solid $white;
  }

  &-right {
    margin-left: 15px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 16px solid $white;
  }

  &-left {
    margin-right: 15px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 16px solid $white;
  }
}