.bg {

  &-inherit {
    background: inherit;
  }
  &-inherit-image {
    background-image: inherit;
    background-position: bottom;
    background-size: cover;

    &-fixed {
      background-image: inherit;
      background-position: bottom;
      background-size: cover;
      background-attachment: fixed;
    }
  }

  &-black {
    background-color: $black;
  }

  &-white-semi-transparent {
    background-color: rgba(255, 255, 255, 0.3) !important;
  }

  &-white-semi-transparent-before:before {
    content: '';
    height: inherit;
    width: 100%;
    background-color: red !important;
  }

  &-blur {
    @extend .filter-blur;
    padding: 20px;
    margin: -20px;
    margin-top: 0;
    box-sizing: content-box;
  }

  &-museum {

    &.is-not-mobile {
      background: url(#{$dist-path}img/bg/bg-museum.jpg);
      background-size: cover;
      background-attachment: fixed;
    }

    &.is-mobile:before {
      content: "";
      display: block;
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 110vh;
      z-index: -10;
      background: url(#{$dist-path}img/bg/bg-museum.jpg) no-repeat center center;
      background-size: cover;
    }
  }

  &-gradient--1 {
    position: absolute;
    top: 40%;
    right: 0;
    bottom: -1px;
    left: 0;
    background: linear-gradient(
        to bottom,
        hsla(0, 0%, 0%, 0) 0%,
        hsla(0, 0%, 0%, 0.004) 8.1%,
        hsla(0, 0%, 0%, 0.016) 15.5%,
        hsla(0, 0%, 0%, 0.034) 22.5%,
        hsla(0, 0%, 0%, 0.058) 29%,
        hsla(0, 0%, 0%, 0.086) 35.3%,
        hsla(0, 0%, 0%, 0.116) 41.2%,
        hsla(0, 0%, 0%, 0.149) 47.1%,
        hsla(0, 0%, 0%, 0.181) 52.9%,
        hsla(0, 0%, 0%, 0.214) 58.8%,
        hsla(0, 0%, 0%, 0.244) 64.7%,
        hsla(0, 0%, 0%, 0.272) 71%,
        hsla(0, 0%, 0%, 0.296) 77.5%,
        hsla(0, 0%, 0%, 0.314) 84.5%,
        hsla(0, 0%, 0%, 0.326) 91.9%,
        hsla(0, 0%, 0%, 0.33) 100%
    );
  }

  &-gradient--2 {
    position: absolute;
    right: 0;
    top: -1px;
    left: 0;
    height: 200px;
    background: linear-gradient(
        to top,
        hsla(0, 0%, 0%, 0) 0%,
        hsla(0, 0%, 0%, 0.004) 8.1%,
        hsla(0, 0%, 0%, 0.016) 15.5%,
        hsla(0, 0%, 0%, 0.034) 22.5%,
        hsla(0, 0%, 0%, 0.058) 29%,
        hsla(0, 0%, 0%, 0.086) 35.3%,
        hsla(0, 0%, 0%, 0.116) 41.2%,
        hsla(0, 0%, 0%, 0.149) 47.1%,
        hsla(0, 0%, 0%, 0.181) 52.9%,
        hsla(0, 0%, 0%, 0.214) 58.8%,
        hsla(0, 0%, 0%, 0.244) 64.7%,
        hsla(0, 0%, 0%, 0.272) 71%,
        hsla(0, 0%, 0%, 0.296) 77.5%,
        hsla(0, 0%, 0%, 0.314) 84.5%,
        hsla(0, 0%, 0%, 0.326) 91.9%,
        hsla(0, 0%, 0%, 0.33) 100%
    );
  }

  &-gray-600 {
    background-color: $gray-600;
  }

}