.btn {
  display: inline-flex;
  font-weight: 700;
  font-family: 'Gotham', sans-serif;
  padding-top: 9px;
  text-transform: uppercase;
  vertical-align: bottom;
  &-primary {
    color: $white;
    &:hover {
      color: $white;
    }
    &:disabled {
      color: white;
      cursor: pointer;
    }
  }
}