.carousel-indicators {
  position: unset;
  right: unset;
  bottom: unset;
  left: unset;
  z-index: unset;
  display: unset;
  justify-content: unset;
  padding-left: unset; // override <ol> default
  // Use the .carousel-control's width as margin so we don't overlay those
  margin-right: unset;
  margin-left: unset;
  list-style: unset;
}

.carousel-fade {
  .carousel-item {
    transition: opacity 1s ease .3s; // in
  }
  .carousel-item.active {
    transition: opacity 1s ease; // out
    z-index: 0;
  }

  .item-over-carousel {
    @extend .carousel-item;
    z-index: 99;
    opacity: 1;
    display: block;
  }
}