.container-wrapper {
  background-repeat: no-repeat;
  position: relative;
  margin-left: auto;
  margin-right: auto;

  @include media-breakpoint-up(md) {
    overflow: hidden;
  }
}

.container {
  &--xl {
    max-width: 1920px;
  }

  @include media-breakpoint-down(md) {
    &-fluid-mobile {
      max-width: 100%;
      width: 100%;
      padding: 0;
      margin: 0;
      position: absolute;
    }
  }
}