body.page:not(.front-page) {
  height: 100%;
  display: flex;
  flex-direction: column;
  footer {
    margin-top: auto;
  }
}

footer {
  @extend .py-5;
  height: 50vh;
  @include media-breakpoint-up(md) {
    height: 20vh;
  }
}

body.front-page footer {
  @extend .py-0, .d-flex;
  > .container {
    @extend .my-auto;
  }
}