.icon-mouse {
  &--wrapper {
    display: flex;
    flex-direction: column;
    img {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 5px;
    }
    &:hover .icon-mouse__arrow {
      transform: translateY(10px);
    }
  }
  &__mouse {
    @include media-breakpoint-down(sm) {
      width: 20px;
    }
  }
  &__arrow {
    @include media-breakpoint-down(sm) {
      width: 16px;
    }
    transition: transform .5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  }
}