.navbar {
  max-width: $max-outer-width;
  transition: all .5s;
  z-index: 100;
}

.navbar-brand {
  top: 4px;
  position: relative;
  z-index: 5;
  margin-right: 0;
}

.navbar-shade:before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  height: 200px;
  background: linear-gradient(
      hsla(0, 0%, 0%, 0.7) 0%,
      hsla(0, 0%, 0%, 0.541) 19%,
      hsla(0, 0%, 0%, 0.382) 34%,
      hsla(0, 0%, 0%, 0.278) 47%,
      hsla(0, 0%, 0%, 0.194) 56.5%,
      hsla(0, 0%, 0%, 0.126) 65%,
      hsla(0, 0%, 0%, 0.075) 73%,
      hsla(0, 0%, 0%, 0.042) 80.2%,
      hsla(0, 0%, 0%, 0.021) 86.1%,
      hsla(0, 0%, 0%, 0.008) 91%,
      hsla(0, 0%, 0%, 0.002) 95.2%,
      hsla(0, 0%, 0%, 0.001) 98.2%,
      hsla(0, 0%, 0%, 0) 100%
  );
}

body.navbar-is-white {
  padding-top: 78px;
  .navbar-shade:before {
    z-index: 0;
    height: 400px;
    opacity: .6;
    position: absolute;
  }
  .bg-navbar-dynamic {
    background-color: $white;
  }
}


body.front-page .bg-navbar-dynamic {
  background-color: transparent;
}

.navbar-dark .navbar-brand svg.svg path, .navbar-dark .navbar-brand svg.svg polygon {
  fill: white;
}

.navbar-dark .icon-bar {
  background-color: white;
}

.navbar-light .icon-bar {
  background-color: $primary;
}

.navbar-toggler {
  $toggle-button-bar-padding: 6px;
  $toggle-button-bar-height: 2px;
  $toggle-button-bar-offset: (($toggle-button-bar-padding * 2) + ($toggle-button-bar-height * 3)) / 2.25;

  .icon-bar + .icon-bar {
    margin-top: $toggle-button-bar-padding;
  }

  .icon-bar {
    display: block;
    width: 30px;
    height: $toggle-button-bar-height;
    transition: all 0.2s;
    position: relative;
  }
  .top-bar {
    transform: rotate(45deg);
    //transform-origin: 25% 25%;
  }
  .middle-bar {
    opacity: 0;
  }
  .bottom-bar {
    transform: rotate(-45deg);
    //transform-origin: 25% 25%;
  }

  &:not(.collapsed) {
    .top-bar {
      top: $toggle-button-bar-offset;
    }
    .bottom-bar {
      top: -$toggle-button-bar-offset;
    }
  }

  &.collapsed {
    .top-bar {
      transform: rotate(0);
    }
    .middle-bar {
      opacity: 1;
    }
    .bottom-bar {
      transform: rotate(0);
    }
  }
}

.navbar-collapse {
  opacity: 0;
  //transition: opacity 0.5s;
  &.show {
    opacity: 1;
  }
}

.navbar-nav {
  margin-left: 15px;
}