.product {
  &-block {

    &__img {
      height: 150px;
      object-fit: contain;
      margin-bottom: 18px;
      max-width: 100%;
    }

    &__title {
      @extend .text-dark;
    }

    &__description {
      font-size: 18px;
      height: 80px;
    }
  }
}

.product-variation-name {
  font-size: 20px;
  text-transform: uppercase;
  color: white;
}

.product-color-circle {

  $inner-circle: 2px;
  $outer-circle: 8px;
  $circle-base: 34px;
  $circle-outer: $inner-circle + $outer-circle + $circle-base;

  &__outer-wrapper {
    width: 310px;
    margin-right: -25px;
    @include media-breakpoint-up(md) {
      width: unset;
      max-width: 100%;
    }
  }

  &__item {
    border-radius: 50%;
    float: left;
    margin-right: 25px;
    margin-bottom: 35px;
    position: relative;
    cursor: pointer;
    width: $circle-base;
    height: $circle-base;

    &:before, &:after {
      position: absolute;
      content: '';
      width: $circle-base;
      height: $circle-base;
      border-style: solid;
      border-radius: 50%;
      border-color: transparent;
    }

    &:after {
      border-width: $inner-circle;
    }

    .active-underline {
      transition: width .1s ease-in-out;
      position: absolute;
      bottom: -17px;
      height:0;
      width: 0;
      border-radius: 2000px;
      transform: translateX(50%);
      right: 50%;
    }
    &:hover > .active-underline, &.active .active-underline {
      border: 2px solid #ffffff;
      width: 90%;
    }
  }
}

.product-color-circle__no-attr {
  display: flex;
  justify-content: center;
  &:before {
    font-family: fontello, serif;
    content: '\e800';
    text-align: center;
    font-size: 24px;
    color: #777776;
    margin-top: 50%;
    transform: translateY(-50%);
  }
  &:after {
    border: 2px dashed white;
    width: 45px;
    height: 45px;
    margin-top: -5px;
    transform: rotate(243deg);
  }
}

.exclusion-attr-dim {
  opacity: .2  !important;
}



//todo: remove

.orig-belt-colors {
  // PRODUCT COLORS //

  .product-color-circle__item[data-slide-to='0'] {
    box-shadow: 0 0 0 8px #F6F6F6;
  }
  .product-color-circle__item[data-slide-to='0']:before {
    box-shadow: 0 0 0 8px #000000;
    clip: rect(-50px, 50px, 50px, 17px);
    transform: rotate(45deg);
  }
  .product-color-circle__item[data-slide-to='0']:after {
    border-color: #566FBC;
    box-shadow: 0 0 0 1px #566FBC;
  }


  .product-color-circle__item[data-slide-to='1'] {
    box-shadow: 0 0 0 8px #244F32;
  }
  .product-color-circle__item[data-slide-to='1']:after {
    border-color: #8C1913;
    box-shadow: 0 0 0 1px #8C1913;
  }

  .product-color-circle__item[data-slide-to='2'] {
    box-shadow: 0 0 0 8px #B8B2AB;
  }
  .product-color-circle__item[data-slide-to='2']:after {
    border-color: #C5A031;
    box-shadow: 0 0 0 1px #C5A031;
  }

  .product-color-circle__item[data-slide-to='3'] {
    box-shadow: 0 0 0 8px #000000;
  }
  .product-color-circle__item[data-slide-to='3']:after {
    border-color: #633D39;
    box-shadow: 0 0 0 1px #633D39;
  }

  .product-color-circle__item[data-slide-to='4'] {
    box-shadow: 0 0 0 8px #633D39;
  }
  .product-color-circle__item[data-slide-to='4']:after {
    border-color: #566FBC;
    box-shadow: 0 0 0 1px #566FBC;
  }

  .product-color-circle__item[data-slide-to='5'] {
    box-shadow: 0 0 0 8px #633D39;
  }
  .product-color-circle__item[data-slide-to='5']:after {
    border-color: #C6B198;
    box-shadow: 0 0 0 1px #C6B198;
  }

  .product-color-circle__item[data-slide-to='6'] {
    box-shadow: 0 0 0 8px #303242;
  }
  .product-color-circle__item[data-slide-to='6']:after {
    border-color: #8C1913;
    box-shadow: 0 0 0 1px #8C1913;
  }

  .product-color-circle__item[data-slide-to='7'] {
    box-shadow: 0 0 0 8px #C5A031;
  }
  .product-color-circle__item[data-slide-to='7']:after {
    border-color: #C5A031;
    box-shadow: 0 0 0 1px #FFFFFF;
  }
}