$offsetBlurBg: -25px;
.section-one {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  max-height: unset;
  background-color: #000;
  overflow: hidden;
  &__bg-parallax {
    position: absolute;
    height: inherit;
    max-height: inherit;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  &__crown-top {
    position: absolute;
    width: 100%;
    padding-top: 75%;
    max-height: 100%;
    overflow: hidden;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 0, 50% 0, 0 100%);
    background-position: center center;
    @include media-breakpoint-up(sm) {
      padding-top: 55%;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 65% 0, 35% 0, 0 100%);
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100vh;
      background-repeat: inherit;
      background-position-x: inherit;
      background-position-y: inherit;
      background-size: cover;
    }
  }
}


//SECTION_TWO
.section-two {
  $paddingHalfCircleVertical: 175%;

  overflow: hidden;
  max-width: $max-outer-width;
  margin-left: auto;
  margin-right: auto;
  //margin-bottom: -6px;

  background-repeat: no-repeat;
  background-position: left center;

  @include media-breakpoint-up(md) {
    background-position: top;
  }

  background-size: cover;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);

  @include media-breakpoint-between(md, xl) {
    max-height: 60vw;
  }

  &:before {
    position: relative;
    content: '';
    display: inline-block;

    padding-top: $paddingHalfCircleVertical;
    @include media-breakpoint-up(md) {
      padding-top: 50%;
    }
  }

  &__circle-half {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    left: 8%;
    padding-top: $paddingHalfCircleVertical;
    opacity: 0;
    @include media-breakpoint-up(md) {
      top: 0;
      transform: translateY(0);
      left: 0;
      padding-top: 50%;
    }

    //background: radial-gradient(ellipse at top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, .2) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background: inherit;
    background-color: rgba(0, 0, 0, 0.1) !important;
    background-blend-mode: hard-light;

    border-top-left-radius: 100000px;
    border-bottom-left-radius: 100000px;

    @include media-breakpoint-up(md) {
      border-radius: 0 0 10000px 10000px;
    }
  }

  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    //width: 100%;
  }
}

//SECTION_THREE
.section-three {
  min-height: 100%;
  @include media-breakpoint-down(md) {
    overflow: visible;
  }
  @include media-breakpoint-up(md) {
    min-height: unset;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
  }

  &__video-circle {
    width: 50%;
    @include media-breakpoint-up(sm) {
      width: 100%;
    }
  }

  &__bg-parallax {
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: content-box;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 50%;
    background-image: url(#{$dist-path}img/bg/bg-strap-maker-blurred.jpg);
    background-color: #000;
  }
  &__content {
    //@include media-breakpoint-up(lg) {
    //  position: relative;
    //  top: 50%;
    //  transform: translateY(-50%);
    //}
  }
  &__text {
    min-height: 200px;
    @include media-breakpoint-up(md) {
      height: unset;
    }
  }
}

//SECTION_FOUR
.section-four {
  //min-height: 100vh;
  background-position: center;
  background-size: cover;
  overflow-x: hidden;
  @include media-breakpoint-up(i6) {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
  }

  &__bg-zebra {
    background-image: url(#{$dist-path}img/zebra-in-shapes-circle.png);
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: center;
    height: 100%;
    width: 100%;
    background-size: contain;
    padding-top: 80%;
    @include media-breakpoint-up(375) {
      padding-top: 80%;
    }
    @include media-breakpoint-up(sm) {
      padding-top: 100%;
    }
  }
}

//SECTION_FIVE
.section-five {
  //background-image: url(#{$dist-path}img/bg/bg-soho-house.jpg);
  background-position: top;
  background-size: auto calc(var(--vh, 1vh) * 100);
  height: 100vh;

  @include media-breakpoint-up(md) {
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    height: 80vh;
  }

  &__triangle {
    height: 80vh;
    position: absolute;
    padding-top: 160%;
    width: 100%;
    clip-path: polygon(
        0% 0%,
        100% 0%,
        100% 50%,
        50% 100%,
        0% 50%
    );
    background: inherit;
    background-image: none;
    bottom: unset;
    top: 0;
    z-index: 0;

    &__blur {
      position: absolute;
      width: 100%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: inherit;
      //background-image: url(#{$dist-path}img/bg/bg-soho-house.jpg);
      //filter: blur(20px);
    }
    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
    @include media-breakpoint-up(md) {
      @keyframes fadeInKeyFrames {
        0% { opacity:0; }
        90% { opacity:0; }
        100% { opacity:1; }
      }
      animation: 1.5s ease-out 0s 1 fadeInKeyFrames;
      bottom: 0;
      top: unset;
    }
    @include media-breakpoint-up(xl) {
      overflow: hidden;
    }
  }

  &--content-container {
    z-index: 3;
    .btn {
      @include media-breakpoint-down(sm) {
        position: relative;
        //display: inline-block;
        //padding-top: 12px;
        //padding-bottom: 10px;
        top: -24px;
      }
    }
  }

  .js_sectionFiveContent {
    opacity: 0;
  }
  &__triangle:after {
    //box-shadow: inset 0 0 0 3000px rgba(255, 255, 255, 0.3);
  }
}