.container-wrapper {
  &--project {
    &-section-one {
      height: 95vh;
      height: calc(var(--vh, 1vh) * 95);
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#474747+0,c2c2c2+100 */
      background: #474747; /* Old browsers */
      background: -moz-linear-gradient(top, #474747 0%, #c2c2c2 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top, #474747 0%,#c2c2c2 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, #474747 0%,#c2c2c2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#474747', endColorstr='#c2c2c2',GradientType=0 ); /* IE6-9 */
      overflow: hidden;
      &__content {
        box-sizing: content-box;
        width: 120vh;

        .shape-triangle-project {
          height: inherit;
          max-height: inherit;
          width: 100%;
          background: inherit;
          position: absolute;
          overflow: hidden;
          &::before {
            content: '';
            height: inherit;
            max-height: inherit;
            width: 100%;
            position: absolute;
            background-repeat: no-repeat;
            background-position: bottom;
            background-size: cover;
            background-image: url(#{$dist-path}img/bg/bg-model-jeans.jpg);
            clip-path: polygon(0 100%, 100% 100%, 50% 0);
          }
        }

        .shape-triangle-project-beside {
          &::after {
            content: '';
            height: inherit;
            max-height: inherit;
            //padding-top: 80%;
            width: 100%;
            position: absolute;
            background-size: cover;
            background: #bababa; /* Old browsers */
            background: -moz-linear-gradient(45deg, #bababa 55%, #9a9a9a 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(45deg, #bababa 55%,#9a9a9a 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(45deg, #bababa 55%,#9a9a9a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            clip-path: polygon(50% 0, 100% 0, 75% 50%);
          }
        }
      }
    }

    &-section-two {
      background: url(#{$dist-path}img/bg/bg-museum.jpg);
      background-size: cover;
      background-position: bottom;
      @include media-breakpoint-between(md, lg) {
        padding: 0 12% 0;
      }
      @include media-breakpoint-between(lg, xl) {
        padding: 0 14% 0;
      }
      .project-section-two__text {
        top: 7%;
        right: 0;
        padding-top: 10%;
        position: relative;
        @include media-breakpoint-up(md) {
          position: absolute;
          width: 93%;
        }
        @include media-breakpoint-up(xl) {
          position: absolute;
          width: 80%;
        }
        @include media-breakpoint-up(xxl) {
          position: absolute;
          width: 70%;
        }

        p {
          //margin-bottom: 0;
          @include media-breakpoint-only(md) {
            font-size: 14px;
          }
          @include media-breakpoint-only(lg) {
            //font-size: 15px;
          }
        }
      }
    }

    &-section-three {
      height: 50vw;
      min-height: 600px;
      max-height: 850px;
      background-color: #e8d5c6;
      z-index: 0;
      overflow: hidden;
      > .container-fluid,
      > .container-fluid .row {
        height: inherit;
        min-height: inherit;
        max-height: inherit;
      }
      &--mobile {
        overflow: hidden;
      }

      .bg-strap-face {
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: contain;
        &--outer {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background-position-x: 50px;
          background-position-y: 90%;
        }
      }
    }

    &-section-four {
      padding-bottom: 150px;
      overflow: hidden;
      &:before {
        content: '';
        position: absolute;
        top: -75px;
        left: 0;
        height: 100%;
        width: 100%;

        background-image: url(#{$dist-path}img/bg/bg-museum.jpg);
        background-size: cover;
        border-bottom-left-radius: 10000px;
        border-bottom-right-radius: 10000px;
      }

      &:after {
        content: '';
        height: 100%;
        width: 100%;
        position: absolute;
        background-color: $primary;
        top: 0;
        left: 0;
        z-index: -1;
      }
    }
  }
}

.order-form-img {
  //display: flex;
  position: relative;
  &__main {
    object-fit: contain;
  }
  &__placeholder {
    object-fit: contain;
    position: absolute;
    top: 0;
    left: 0;
  }
}
