.shape-triangle {
  &--wrapper {
    box-sizing: content-box;
    height: 100%;
    margin-left: -15px;
    margin-right: -15px;
  }
  @extend .d-inline-block, .d-md-none;
  width: 20%;
  padding-top: 50%;
  @include media-breakpoint-up(i6) {
    width: 30%;
  }
  @include media-breakpoint-up(sm) {
    width: 50%;
  }
  &__left {
    float: left;
    shape-outside: polygon(-30% 0, 70% 100%, 0% 100%);
    @include media-breakpoint-up(sm) {
      shape-outside: polygon(0 0, 100% 100%, 0% 100%);
    }
  }
  &__right {
    float: right;
    shape-outside: polygon(100% 30%, 100% 100%, 30% 100%);
    @include media-breakpoint-up(sm) {
      shape-outside: polygon(100% 0, 100% 100%, 0% 100%);
    }
  }
}

.margin-pseudo-before-after {
  &:before, &:after {
    margin-top: -28px;
  }
}

.shape-drop {
  border-top-left-radius: 10000px;
  border-bottom-left-radius: 10000px;
  border-bottom-right-radius: 10000px;
  display: inherit;
  padding-top: 0;
  @include media-breakpoint-up(md) {
    padding-top: 100%;
    background-color: rgba(255, 255, 255, 0.3) !important;
  }

  &__img {
    width: 50%;
    position: absolute;
    bottom: 12%;
    left: 13%;
  }
}

.shape-triangle-artist {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-100%, -50%);
  padding-top: 50%;
  width: 50%;
  background-color: $blue;
  clip-path: polygon(0 0, 0 100%, 100% 50%);
  &--half-screen {
    padding-top: 100%;
    width: 100%;
    left: unset;
    right: 0;
    transform: translate(0%, -50%);
  }
}

.shape-circle-img-artist {
  width: 90%;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(100%, -50%);
}

.shape-triangle-strap-face {
  clip-path: polygon(100% 0, 100% 100%, 20% 50%);
  position: absolute;
  padding-top: 50%;
  width: 50%;
  top: 38%;
  right: -10%;
  transform: translateY(-50%);
}

.shape-triangle-play {
  clip-path: polygon(0 0, 0 100%, 80% 50%);
  position: absolute;
  padding-top: 20%;
  width: 20%;
  top: 50%;
  left: 54%;
  transform: translate(-50%, -50%);
  background-color: $primary;
}