.size-list {
  &__wrapper {
    margin: 0 auto;
    max-width: 400px;
  }
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  width: fit-content;

  @include media-breakpoint-down(sm) {
    justify-content: center;
  }

  &__item {
    width: 80px;
    cursor: pointer;
    font-family: Futura, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    border: 1px solid $white;
    padding: 6px 0 4px;
    font-weight: bold;
    margin: 0 10px 20px;
    &:hover, &.active{
      background-color: white;
      color: #9F9694;
    }
  }
}