h1, h2, h3, h4 {
  text-transform: uppercase;
}

h1 {
  @include media-breakpoint-up(md) {
    font-size: 48px;
  }
}

h2 {
  @include media-breakpoint-up(md) {
    font-size: 32px;
  }
}

h5 {
  margin-bottom: 5px;
}

.display-1 {
  @include media-breakpoint-up(sm) {
    font-size: 110px;
  }
  @include media-breakpoint-up(md) {
    font-size: 150px;
  }
  @include media-breakpoint-up(xl) {
    font-size: 220px;
  }
}

.display-2 {
  @include media-breakpoint-up(md) {
    font-size: 25px;
  }
  @include media-breakpoint-up(lg) {
    font-size: 30px;
  }
  @include media-breakpoint-up(xl) {
    font-size: 40px;
  }
}

.display-3 {
  @include media-breakpoint-up(sm) {
    font-size: 50px;
  }
  @include media-breakpoint-up(md) {
    font-size: 75px;
  }
  @include media-breakpoint-up(xl) {
    font-size: 100px;
  }
}

.display-4 {
  @include media-breakpoint-up(xl) {
    font-size: $font-size-base;
  }
}

.display-5 {
  font-size: 24px;
}

.display-6 {
  font-size: 24px;
  @include media-breakpoint-up(md) {
    font-size: 28px;
  }
}

.font-smaller {
  font-size: .8em;
}

.font-family-heading {
  font-family: $headings-font-family;
}

.font-smaller-mobile {
  @include media-breakpoint-down(i6) {
    font-size: 16px;
  }
  @include media-breakpoint-down(i5) {
    font-size: 15px;
  }
}